/c1_piscaLED.X/dist/
/c1_piscaLED.X/build/
/c1_botaoLED.X/build/
/c1_botaoLED.X/dist/
/c1_semaforo_carros.X/build/
/c1_semaforo_carros.X/dist/
/c1_semaforo_veiculos.X/build/
/c1_semaforo_veiculos.X/dist/
/c1_semaforo_veiculos_pedestres.X/build/
/c1_semaforo_veiculos_pedestres.X/dist/
/c1_semaforo_veiculos_pedestres_me.X/dist/
/c1_semaforo_veiculos_pedestres_me.X/build/
/c1_partida_estrela_triangulo.X/build/
/c1_partida_estrela_triangulo.X/dist/
/c1_display7segmentos.X/dist/
/c1_display7segmentos.X/build/
/ihm_lcd16x2_keyb4x4.X/dist/
/ihm_lcd16x2_keyb4x4.X/build/
/c2_ihm_lcd16x2_keyb4x4.X/build/
/c2_ihm_lcd16x2_keyb4x4.X/dist/
/c2_ihm_lcd16x2_keyb2.X/build/
/c2_ihm_lcd16x2_keyb2.X/dist/
/c2_motorPasso.X/dist/
/c2_motorPasso.X/build/