/c1_piscaLED.X/dist/
/c1_piscaLED.X/build/
/c1_botaoLED.X/build/
/c1_botaoLED.X/dist/
/c1_semaforo_carros.X/build/
/c1_semaforo_carros.X/dist/
/c1_semaforo_veiculos.X/build/
/c1_semaforo_veiculos.X/dist/
/c1_semaforo_veiculos_pedestres.X/build/
/c1_semaforo_veiculos_pedestres.X/dist/